<?xml version="1.0" encoding="UTF-8"?>
<template-config>
	<settings>
		<charset>utf-8</charset>
	</settings>

	<page id="home.index">
		<templateFile>page_HomeIndex.html</templateFile>
	</page>

	<page id="home.login">
		<templateFile>page_HomeLogin.html</templateFile>
	</page>

	<page id="home.login.successful">
		<templateFile>transit.html</templateFile>
	</page>
	
	<page id="staff.skillInventory">
		<templateFile>page_StaffSkillInventory.html</templateFile>
	</page>
	
	<page id="staff.profile">
		<templateFile>page_StaffProfile.html</templateFile>
	</page>
</template-config>