<#assign _form=page.form />
<h1>${language.getMessage('msg.menuManager.skillSearch')}</h1>
<#if _form.hasErrorMessage()>
	<div class="error">
		<#list _form.errorMessages as msg>
			${msg}<br/>
		</#list>
	</div>
</#if>
<form name="${_form.name}" method="post" action="${_form.action}">
	<script tye="text/javascript" language="javascript">
	//<![CDATA[
	function skillSelectionChanged(skillField, skillOptField, skillLevelField, monthsExpOptField, monthsExpField) {
		var obj = document.getElementsByName(skillField);
		obj = obj[0];
		var enabled1 = obj.selectedIndex != 0;

		obj = document.getElementsByName(monthsExpOptField);
		obj = obj[0];
		var enabled2 = obj.selectedIndex != 0;

		obj = document.getElementsByName(skillOptField);
		obj = obj[0];
		obj.disabled = !enabled1;

		obj = document.getElementsByName(skillLevelField);
		obj = obj[0];
		obj.disabled = !enabled1;

		obj = document.getElementsByName(monthsExpOptField);
		obj = obj[0];
		obj.disabled = !enabled1;

		obj = document.getElementsByName(monthsExpField);
		obj = obj[0];
		obj.disabled = !enabled1 || !enabled2;
	}

	function monthsExpOptSelectionChanged(monthsExpOptField, monthsExpField) {
		var obj = document.getElementsByName(monthsExpOptField);
		obj = obj[0];
		var enabled = obj.selectedIndex != 0;

		obj = document.getElementsByName(monthsExpField);
		obj = obj[0];
		obj.disabled = !enabled;
	}

	function adjustSelectedItem(objName, value) {
		var obj = document.getElementsByName(objName);
		obj = obj[0];
		var i;
		for ( i = 0; i < obj.options.length; i++ ) {
			if ( obj.options[i].value == value ) {
				obj.selectedIndex = i;
				break;
			}
		}
	}
	//]]>
	</script>
	<table border="0" width="100%" cellpadding="2" cellspacing="2">
	<thead>
		<tr>
			<th>${language.getMessage('msg.skillSearch.skill')}</th>
			<th>${language.getMessage('msg.skillSearch.skillLevelOperator')}</th>
			<th>${language.getMessage('msg.skillSearch.skillLevel')}</th>
			<th>${language.getMessage('msg.skillSearch.monthsExpOperator')}</th>
			<th>${language.getMessage('msg.skillSearch.monthsExp')}</th>
		</tr>
	</thead>
	<tbody>
		<#list 1..5 as _index>
			<#assign _skillField="querySkill_"+_index />
			<#assign _skillOptField="querySkillOperator_"+_index />
			<#assign _skillLevelField="querySkillLevel_"+_index />
			<#assign _monthsExpOptField="queryMonthsExpOperator_"+_index />
			<#assign _monthsExpField="queryMonthsExp_"+_index />
			<tr>
				<td>
					<select name="${_skillField}" onchange="skillSelectionChanged('${_skillField}', '${_skillOptField}', '${_skillLevelField}', '${_monthsExpOptField}', '${_monthsExpField}');">
						<option value=""></option>
						<#list page.skillCategories as skillCategory>
							<optgroup label="${skillCategory.name?html}" />
							<#list skillCategory.skillItems as skillItem>
								<option value="${skillItem.id?c}">&nbsp;&nbsp;&nbsp;&nbsp;${skillItem.name?html}</option>
							</#list>
						</#list>
					</select>
					<script tye="text/javascript" language="javascript">
					//<![CDATA[
					adjustSelectedItem('${_skillField}', '${_form.getAttribute(_skillField)}');
					//]]>
					</script>
				</td>
				<td align="center">
					<select name="${_skillOptField}" disabled="disabled">
						<option value="=">=</option>
						<option value="&lt;">&lt;</option>
						<option value="&gt;">&gt;</option>
						<option value="&lt;=">&lt;=</option>
						<option value="&gt;=">&gt;=</option>
					</select>
					<script tye="text/javascript" language="javascript">
					//<![CDATA[
					adjustSelectedItem('${_skillOptField}', '${_form.getAttribute(_skillOptField)}');
					//]]>
					</script>
				</td>
				<td align="center">
					<select name="${_skillLevelField}" disabled="disabled">
						<#list 0..9 as _level>
							<option value="${_level?c}">${_level?c}</option>
						</#list>
					</select>
					<script tye="text/javascript" language="javascript">
					//<![CDATA[
					adjustSelectedItem('${_skillLevelField}', '${_form.getAttribute(_skillLevelField)}');
					//]]>
					</script>
				</td>
				<td align="center" style="border-left: 1px solid">
					<select disabled="disabled" name="${_monthsExpOptField}" onchange="monthsExpOptSelectionChanged('${_monthsExpOptField}', '${_monthsExpField}');">
						<option value=""></option>
						<option value="=">=</option>
						<option value="&lt;">&lt;</option>
						<option value="&gt;">&gt;</option>
						<option value="&lt;=">&lt;=</option>
						<option value="&gt;=">&gt;=</option>
					</select>
					<script tye="text/javascript" language="javascript">
					//<![CDATA[
					adjustSelectedItem('${_monthsExpOptField}', '${_form.getAttribute(_monthsExpOptField)}');
					//]]>
					</script>
				</td>
				<td align="center">
					<input disabled="disabled" name="${_monthsExpField}" type="text" value="${_form.getAttribute(_monthsExpField)}" size="2" />
					<script tye="text/javascript" language="javascript">
					//<![CDATA[
					skillSelectionChanged('${_skillField}', '${_skillOptField}', '${_skillLevelField}', '${_monthsExpOptField}', '${_monthsExpField}');
					//]]>
					</script>
				</td>
			</tr>
		</#list>
	</tbody>
	<tfoot>
		<tr>
			<td>
				<input type="submit" value="${language.getMessage('msg.search')}" />
			</td>
		</tr>
	</tfoot>
	</table>
</form>

<h2>${language.getMessage('msg.searchResult')}</h2>
<#list page.searchResult as user>
	<p>${user.displayName}</p>
</#list>