<?xml version="1.0" encoding="UTF-8"?>
	<!--
		<!DOCTYPE template-config PUBLIC "-//Template Configuration Settings
		DTD//EN" "template.cfg.dtd">
	-->
<template-config>
	<settings>
		<charset>utf-8</charset>
	</settings>

	<page id="index">
		<templateFile>layout_index.ftl</templateFile>
	</page>
	
	<page id="info">
		<templateFile>layout_info.ftl</templateFile>
	</page>
	
	<page id="staffLogin">
		<templateFile>layout_staffLogin.ftl</templateFile>
	</page>
	
	<page id="staff">
		<templateFile>layout_staffHome.ftl</templateFile>
	</page>
</template-config>